.show-grid {
    margin: 20px!important;   
}
.show-grid div {
    @media (max-width: 600px) {
        margin: 10px;
    }
}
.capitalize {
    text-transform: capitalize;
}
.md-card {
    border-radius: 8px;
}
.md-list-item-default {
    margin: 0px!important;
}
.md-dialog {
    border-radius: 8px;
}