.show-grid {
    margin: 20px!important;   
    
    & .md-layout-item {
        margin: 10px!important;
    }
}

@media (max-width: 1903px) {
    .md-card-content .md-layout.md-gutter {
        padding: 20px;
    }
    form .md-card {
        margin-left: auto;
        margin-right: auto;
    }
}
.capitalize {
    text-transform: capitalize;
}
.md-card {
    border-radius: 8px;
}
.md-list-item-default {
    margin: 0px!important;
}
.md-dialog {
    border-radius: 8px;
}