.show-grid {
    margin: 20px!important;   
    
    & .md-layout-item {
        margin: 10px!important;
    }
}
.capitalize {
    text-transform: capitalize;
}
.md-card {
    border-radius: 8px;
}
.md-list-item-default {
    margin: 0px!important;
}
.md-dialog {
    border-radius: 8px;
}