@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons";
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@import 'colors';


@include md-register-theme("bottom-bar-teal", (
  primary: $teal,
  accent: $teal-compliments,
  background: $teal-dark,
  text-primary-on-primary: $text-theme-light
));

@include md-register-theme("bottom-bar-orange", (
  primary: $orange,
  accent: $orange-compliments,
  background: $orange-dark,
  text-primary-on-primary: $text-theme-light
));

@include md-register-theme("bottom-bar-blue", (
  primary: $blue,
  accent: $blue-compliments,
  background: $blue-dark,
  theme: dark
));

@include md-register-theme("bottom-bar-red", (
  primary: $red,
  accent: $red-compliments,
  background: $red-dark,
  theme: dark
));

@include md-register-theme("elevation-teal", (
  primary: $teal-compliments,
  accent: $transparent,
  background: $teal,
  background-variant: $teal-dark
));

@include md-register-theme("elevation-orange", (
  primary: $orange-compliments,
  accent: $transparent,
  background: $orange,
  background-variant: $orange-dark,
  text-primary-on-primary: $text-theme-light
));

@include md-register-theme("elevation-blue", (
  primary: $blue-compliments,
  accent: $transparent,
  background: $blue,
  background-variant: $blue-dark,
  rowvariant: $blue-dark,
  text-primary-on-primary: $text-theme-dark,
  theme: dark
));

@include md-register-theme("elevation-red", (
  primary: $red-compliments,
  accent: $transparent,
  background: $red,
  background-variant: $red-dark,
  rowvariant: $red-dark,
  theme: dark
));

@import 'overrides';

@import "~vue-material/dist/theme/all"; // Apply the theme